%div.box
  %h3 たとえば、Twitterの「Favされた！」をリアルタイムにプッシュでお届け。
  %p ──Notwifeは、ちょっと気の利いたアプリです。だけど、あなたの嫁ではありません。

%div.img-box
  = image_tag 'abstract.png', :alt => 'Abstract'

%div.box
  %p
    Notwifeは、
    %a{ :href => 'http://twitter.com/', :alt => 'Twitter'}>< Twitter
    ユーザを対象としたサービスです。あなた宛てのmentionがあった、あなたのtweetがfavoriteされた、あなたが他のユーザのlistに追加された… そんな各種のイベントを、リアルタイム通知サービス
    %a{ :href => 'http://notifo.com/', :alt => 'Mobile Notifications for Everything - Notifo'}>< Notifo
    を通してお届けします。Notifoのアカウントを用意するだけで、すぐに利用を開始できます。

- unless signed_in?
  %div.box
    %h3 Notwifeを使ってみる
  %div.img-box
    %a#sign-in-with-twitter{ :href => '/auth/twitter', :title => 'Sign in with Twitter' }
      = image_tag 'sign-in-with-twitter-l.png', :alt => 'Sign in with Twitter'

%div.box
  %h3 運営からのお知らせ
  %p
    = link_to 'Notifoの利用制限によるサービス停止の可能性について (2010年11月27日)', information_path

%div.box
  %h3 サービスの運用について
  %p
    NotwifeはTwitterのOAuthを利用します。信用します、という方だけご利用ください。サービスの運用レベルは「がんばります」(ベストエフォート)です。

%div.box
  %h3 Notwifeについての詳細
  %p
    = succeed("をご覧ください。") do
      != link_to 'About Notwife', about_path
